{
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "10"
          }
        }]
      ]
    },
    "browser": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ]
    },
    "module": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "10"
          },
          "modules": false
        }]
      ]
    }
  },
  "sourceMaps": true
}
